body {
	margin: 0;
	background-color: #0a0;
}

section {
	text-align: center;
}

section.green {
	background-color: #24c53e;
}

figure {
	margin: 200px 50px;
	background-color: rgba(0,0,0,0.1);
	display: inline-block;
/*	width: 300px;
	height: 400px;*/
}

.tilter__image {
	max-width: 300px;
}

